/* =============== ROOT ================= */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}

:root {
  --backgrond: #000;
  --text-color: #fff;
  --button: #8257e5;
  --border: #29292e;
  --border-menu-mobile: #a8a8b3;
  --text-color-menu-mobile: #e1e1e6;
}

body {
  background: var(--backgrond);
  max-height: 100vh;
  color: var(--text-color);
}

#header-menu {
  border-bottom: 1px solid var(--border);
  padding-top: 2.3125rem;
  padding-bottom: 1.6075rem;
}

div#logo-menu {
  display: flex;
  justify-content: space-between;
  margin-left: 1.625rem;
  margin-right: 1.5625rem;
}

.titulo-header {
  width: 23.3125rem;
  height: 8rem;

  margin-top: 5.53125rem;
  margin-bottom: 5.5rem;
  margin-left: 1.75rem;
  margin-right: 1.6875rem;

  text-align: center;
  font-weight: 600;
  font-style: normal;
  font-size: 1.875rem;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

#body-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-header button {
  width: 10.8825rem;
  height: 2.1875rem;
  border: none 1px solid;
  border-radius: 0.375rem;
  border-color: var(--button);
  background-color: var(--backgrond);
  color: var(--text-color);
  font-size: 0.6875rem;
}

main {
  position: relative;
}
#title-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.375rem;

  margin-top: 6.125rem;
}

#title-main h2 {
  width: 18.5rem;
  height: 3.375rem;
  font-weight: 700;
  font-size: 3.125rem;
  letter-spacing: -0.03em;
}

#title-main h3 {
  width: 21.625rem;
  height: 4.3125rem;
  font-weight: 700;
  font-size: 3.125rem;
  font-style: normal;
  letter-spacing: -0.03em;
  color: var(--backgrond);
  margin-bottom: 1.5625rem;

  text-shadow: -1px -1px 0 var(--button), 1px -1px 0 var(--button),
    -1px 1px 0 var(--button), 1px 1px 0 var(--button);
}

#photo-coffee {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#photo-coffee img {
  width: 18.51625rem;
  height: 20.8125rem;
}

#menu-mobile.close {
  opacity: 0;
  visibility: hidden;
  height: 0;
  width: 0;
}

#menu-mobile {
  background: var(--backgrond);
  height: 115%;
  width: 100%;
  position: absolute;
  z-index: 2;
}
/*
*/
#blur {
  position: fixed;
  bottom: 0px;
}

#menu-list li {
  padding-bottom: 0.875rem;
  padding-top: 1.125rem;
  border: 1px solid var(--border);
}

#menu-list li a {
  width: 100%;
  text-decoration: none;
  color: var(--text-color-menu-mobile);
  font-size: 1.125rem;
  font-weight: 700;
  margin-left: 1.92625rem;
}
