/* =============== ROOT ================= */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}

:root {
  --backgrond: #000;
  --text-color: #fff;
  --button: #8257e5;
  --border: #29292e;
  --border-menu-mobile: #a8a8b3;
  --text-color-menu-mobile: #e1e1e6;
}

body {
  background: var(--backgrond);
  color: var(--text-color);
}

@media screen and (min-width: 1008px) {
  /* =============== MENU ================= */
  nav {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 3.125rem;
    margin-left: 17.5rem;
    margin-right: 10.125rem;
  }

  #logo-menu {
    margin-right: 8.80875rem;
  }

  #menu-list {
    display: flex;
    gap: 2.026875rem;
  }

  #menu-list li {
    list-style: none;
  }

  #menu-list li a {
    text-decoration: none;
    color: var(--text-color);
  }

  #menu-list li a:hover {
    color: var(--border-menu-mobile);
    transition: all 0.3s ease-in-out;
  }

  #body-header {
    margin-left: 8.165625rem;
  }

  .button-header button {
    width: 10.75rem;
    height: 2.3125rem;
    border: none 1px solid;
    border-radius: 0.375rem;
    border-color: var(--button);
    background-color: transparent;
    color: var(--text-color);
    font-size: 0.6875rem;
  }

  .button-header button img {
    display: none;
  }

  /* =============== MAIN ================= */

  /* **** TITLE MAIN ***** */
  #title-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
  }

  #title-main h2 {
    width: 29.4375rem;
    height: 6.8125rem;
    font-weight: 700;
    font-size: 5rem;
    letter-spacing: -0.03em;
  }

  #title-main h3 {
    width: 34.25rem;
    height: 6.81256rem;
    font-weight: 700;
    font-size: 5rem;
    font-style: normal;
    letter-spacing: -0.03em;
    color: var(--backgrond);

    text-shadow: -1px -1px 0 var(--button), 1px -1px 0 var(--button),
      -1px 1px 0 var(--button), 1px 1px 0 var(--button);
  }

  /* **** PHOTO ROCKET COFFEE ***** */
  #photo-coffee {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #photo-coffee img {
    width: 49.92375rem;
    height: 31.654375rem;
  }

  main {
    position: relative;
  }

  /* **** BLUR  ***** */
  #blur1 {
    position: absolute;
    bottom: 0px;
    left: 0px;
  }

  #blur2 {
    position: absolute;
    top: 0px;
    right: 0px;
  }

  /* **** hidden element  ***** */

  #logo-mobile {
    display: none;
  }

  #toggle {
    display: none;
  }

  .titulo-header {
    display: none;
  }

  #blur-mobile {
    display: none;
  }
}

@media screen and (max-width: 1007px) {
  /* =============== HEADER ================= */
  #header-menu {
    border-bottom: 1px solid var(--border);
    padding-top: 2.3125rem;
    padding-bottom: 1.6075rem;
  }

  div#logo-menu {
    display: flex;
    justify-content: space-between;
    margin-left: 1.625rem;
    margin-right: 1.5625rem;
  }

  .titulo-header {
    width: 23.3125rem;
    height: 8rem;

    margin-top: 5.53125rem;
    margin-bottom: 5.5rem;
    margin-left: 1.75rem;
    margin-right: 1.6875rem;

    text-align: center;
    font-weight: 600;
    font-style: normal;
    font-size: 1.875rem;
    letter-spacing: 0.02em;
    color: var(--text-color);
  }

  #body-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .button-header button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;

    width: 10.8825rem;
    height: 2.1875rem;
    border: none 1px solid;
    border-radius: 0.375rem;
    border-color: var(--button);
    background-color: var(--backgrond);
    color: var(--text-color);
    font-size: 0.6875rem;
  }

  /* =============== MENU MOBILE ================= */

  #menu-mobile {
    background: var(--backgrond);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    overflow: hidden;
  }

  /* **** ITENS MENU  ***** */
  #menu-list li {
    padding-bottom: 0.875rem;
    padding-top: 1.125rem;
    border: 1px solid var(--border);
  }

  #menu-list li.active {
    border-left: 5px solid var(--button);
    transition: all 0.4s ease-in-out;
  }

  #menu-list li:hover {
    border-left: 5px solid var(--button);
    transition: all 0.4s ease-in-out;
  }

  #menu-list li a {
    text-decoration-line: none;
    color: var(--border-menu-mobile);
    font-size: 1.125rem;
    font-weight: 700;
    margin-left: 1.92625rem;
  }

  #menu-list li a:hover {
    color: var(--text-color-menu-mobile);
    transition: all 0.5s ease-in-out;
  }

  /* =============== MAIN ================= */

  main {
    position: relative;
  }

  /* **** TITLE MAIN ***** */
  #title-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.375rem;

    margin-top: 6.125rem;
  }

  #title-main h2 {
    width: 18.5rem;
    height: 3.375rem;
    font-weight: 700;
    font-size: 3.125rem;
    letter-spacing: -0.03em;
  }

  #title-main h3 {
    width: 21.625rem;
    height: 4.3125rem;
    font-weight: 700;
    font-size: 3.125rem;
    font-style: normal;
    letter-spacing: -0.03em;
    color: var(--backgrond);
    margin-bottom: 1.5625rem;

    text-shadow: -1px -1px 0 var(--button), 1px -1px 0 var(--button),
      -1px 1px 0 var(--button), 1px 1px 0 var(--button);
  }

  /* **** PHOTO ROCKET COFFEE ***** */
  #photo-coffee {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #photo-coffee img {
    width: 18.51625rem;
    height: 20.8125rem;
  }

  /* **** BLUR  ***** */
  #blur-mobile {
    position: fixed;
    bottom: 0px;
  }

  /* **** hidden element  ***** */
  #menu-mobile.close {
    display: none;
  }

  #blur1 {
    display: none;
  }

  #blur2 {
    display: none;
  }

  #logo-desk {
    display: none;
  }
}

/* =============== RESPONSIVE DESIGN  ================= */

@media screen and (min-width: 600px) {
  #blur-mobile {
    display: none;
  }

  #photo-coffee img {
    width: 47.92375rem;
    height: 31.654375rem;
  }
}

@media screen and (min-width: 500px) {
  #blur-mobile {
    display: none;
  }
}
